# Pandas数据操作

In [3]:
import pandas as pd

* Series索引

In [4]:
ser_obj = pd.Series(range(5), index = ['a', 'b', 'c', 'd', 'e'])
print(ser_obj.head())

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [ ]:
# 行索引
print(ser_obj['a'])
print(ser_obj[0])

In [7]:
# 切片索引
print(ser_obj[1:3])
print(ser_obj['b':'d'])

b    1
c    2
dtype: int32
b    1
c    2
d    3
dtype: int32

In [ ]:
# 不连续索引
print(ser_obj[[0, 2, 4]])
print(ser_obj[['a', 'e']])

In [ ]:
# 布尔索引
ser_bool = ser_obj > 2
print(ser_bool)
print(ser_obj[ser_bool])

print(ser_obj[ser_obj > 2])

* DataFrame索引

In [10]:
import numpy as np

df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
print(df_obj.head())

          a         b         c         d
0  2.449620  0.075808 -1.599173  0.387197
1  0.043107  0.332700 -1.067877 -0.637562
2  0.251890 -1.544794 -0.739113  0.610947
3  0.718981  0.956047 -0.054310 -0.430208
4  0.172346  0.583391 -0.179050 -0.468465

In [ ]:
# 列索引
print('列索引')
print(df_obj['a']) # 返回Series类型
print(type(df_obj[[0]])) # 返回DataFrame类型

# 不连续索引
print('不连续索引')
print(df_obj[['a','c']])
print(df_obj[[1, 3]])

* 三种索引方式

In [11]:
print(ser_obj)
print(df_obj)

a    0
b    1
c    2
d    3
e    4
dtype: int32
          a         b         c         d
0  2.449620  0.075808 -1.599173  0.387197
1  0.043107  0.332700 -1.067877 -0.637562
2  0.251890 -1.544794 -0.739113  0.610947
3  0.718981  0.956047 -0.054310 -0.430208
4  0.172346  0.583391 -0.179050 -0.468465

In [13]:
# 标签索引 loc
# Series
#print(ser_obj['b':'d'])
#print(ser_obj.loc['b':'d'])

# DataFrame
print(df_obj['a'])
print(df_obj.loc[0:2, 'a'])

0    2.449620
1    0.043107
2    0.251890
3    0.718981
4    0.172346
Name: a, dtype: float64
0    2.449620
1    0.043107
2    0.251890
Name: a, dtype: float64

In [14]:
print(ser_obj)

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [1]:
# 整型位置索引 iloc
#print(ser_obj['b':'d'])
print(ser_obj.loc[1:3])

# DataFrame
#print(df_obj.iloc[0:2, 0]) # 注意和df_obj.loc[0:2, 'a']的区别

NameError: name 'ser_obj' is not defined

In [19]:
print(ser_obj)

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [ ]:
# 混合索引 ix
print(ser_obj.ix[1:3])
print(ser_obj.ix['b':'c'])

# DataFrame
print(df_obj.ix[0:2, 0]) # 先按标签索引尝试操作，然后再按位置索引尝试操作

* 运算与对齐

In [20]:
s1 = pd.Series(range(10, 20), index = range(10))
s2 = pd.Series(range(20, 25), index = range(5))

print('s1: ' )
print(s1)

print('') 

print('s2: ')
print(s2)

s1:
0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32

s2:
0    20
1    21
2    22
3    23
4    24
dtype: int32

In [21]:
# Series 对齐运算
s1 + s2

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [ ]:
import numpy as np

df1 = pd.DataFrame(np.ones((2,2)), columns = ['a', 'b'])
df2 = pd.DataFrame(np.ones((3,3)), columns = ['a', 'b', 'c'])

print('df1: ')
print(df1)

print('') 
print('df2: ')
print(df2)

In [ ]:
# DataFrame对齐操作
df1 + df2

In [22]:
# 填充未对齐的数据进行运算
print(s1)
print(s2)

s1.add(s2, fill_value = -1)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32
0    20
1    21
2    22
3    23
4    24
dtype: int32

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    14.0
6    15.0
7    16.0
8    17.0
9    18.0
dtype: float64

In [ ]:
df1.sub(df2, fill_value = 2.)

In [ ]:
# 填充NaN
s3 = s1 + s2
print(s3)

In [ ]:
s3_filled = s3.fillna(-1)
print(s3_filled)

In [ ]:
df3 = df1 + df2
print(df3)

In [ ]:
df3.fillna(100, inplace = True)
print(df3)

* 函数应用

In [23]:
# Numpy ufunc 函数
df = pd.DataFrame(np.random.randn(5,4) - 1)
print(df)

print(np.abs(df))

          0         1         2         3
0 -1.993081  0.152272 -0.668028 -0.251798
1 -2.289843 -0.840904 -0.734763 -1.558692
2 -1.639470 -1.561671 -0.780086 -2.040554
3 -1.703188 -3.163751 -1.459251 -2.578217
4 -1.395551 -0.506156 -0.380774  0.262559
          0         1         2         3
0  1.993081  0.152272  0.668028  0.251798
1  2.289843  0.840904  0.734763  1.558692
2  1.639470  1.561671  0.780086  2.040554
3  1.703188  3.163751  1.459251  2.578217
4  1.395551  0.506156  0.380774  0.262559

In [27]:
# 使用apply应用行或列数据
#f = lambda x : x.max()
def f(x):
    return x.max()

print(df.apply(f))

0   -1.395551
1    0.152272
2   -0.380774
3    0.262559
dtype: float64

In [25]:
# 指定轴方向
print(df.apply(lambda x : x.max(), axis=1))

0    0.152272
1   -0.734763
2   -0.780086
3   -1.459251
4    0.262559
dtype: float64

In [ ]:
# 使用applymap应用到每个数据
f2 = lambda x : '%.2f' % x
print(df.applymap(f2))

* 排序

In [28]:
s4 = pd.Series(range(10, 15), index = np.random.randint(5, size=5))
print(s4)

2    10
3    11
0    12
3    13
4    14
dtype: int32

In [30]:
# 索引排序
s4.sort_index(ascending=False)

4    14
3    13
3    11
2    10
0    12
dtype: int32

In [32]:
df4 = pd.DataFrame(np.random.randn(3, 4), 
                   index=np.random.randint(3, size=3),
                   columns=np.random.randint(4, size=4))
print(df4)

          3         3         0         2
2 -0.291998  0.312256 -0.240259  0.242550
0  0.782116  2.009527  2.286111  1.720111
0  1.024127  2.458063 -1.683704 -0.671771

In [33]:
#df4.sort_index(ascending=False)
df4.sort_index(axis=1)

          0         2         3         3
2 -0.240259  0.242550 -0.291998  0.312256
0  2.286111  1.720111  0.782116  2.009527
0 -1.683704 -0.671771  1.024127  2.458063

In [34]:
# 按值排序
df4.sort_values(by=0)

          3         3         0         2
0  1.024127  2.458063 -1.683704 -0.671771
2 -0.291998  0.312256 -0.240259  0.242550
0  0.782116  2.009527  2.286111  1.720111

* 处理缺失数据

In [ ]:
df_data = pd.DataFrame([np.random.randn(3), [1., np.nan, np.nan],
                       [4., np.nan, np.nan], [1., np.nan, 2.]])
df_data.head()

In [ ]:
# isnull
df_data.isnull()

In [ ]:
# dropna
df_data.dropna()
#df_data.dropna(axis=1)

In [ ]:
# fillna
df_data.fillna(-100.)