# Pandas统计计算和描述

In [2]:
import numpy as np
import pandas as pd

* 常用的统计计算

In [3]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
df_obj

          a         b         c         d
0 -0.851403  0.979070 -2.571532  0.887987
1 -0.425933  0.748722 -0.092689 -0.137338
2 -1.029492 -0.097063  2.173644  1.678388
3  0.967561  0.032874 -0.249523  1.029167
4  0.159467 -1.079358  0.283668  1.412111

In [ ]:
df_obj.sum()

In [ ]:
df_obj.max()

In [ ]:
df_obj.min(axis=1)

* 统计描述

In [4]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean  -0.235960  0.116849 -0.091286  0.974063
std    0.813846  0.810310  1.691682  0.695273
min   -1.029492 -1.079358 -2.571532 -0.137338
25%   -0.851403 -0.097063 -0.249523  0.887987
50%   -0.425933  0.032874 -0.092689  1.029167
75%    0.159467  0.748722  0.283668  1.412111
max    0.967561  0.979070  2.173644  1.678388