# 分组与聚合

* GroupBy对象

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randn(8),
            'data2': np.random.randn(8)}
df_obj = pd.DataFrame(dict_obj)
print(df_obj)

      data1     data2 key1   key2
0 -0.169516 -0.852669    a    one
1  1.124563  1.469623    b    one
2  0.621123 -0.715536    a    two
3  1.343643  0.937834    b  three
4 -2.606859 -1.558948    a    two
5 -1.258136  0.845328    b    two
6  0.033172  0.569284    a    one
7  1.131832 -0.784196    a  three

In [4]:
# dataframe根据key1进行分组
print(type(df_obj.groupby('key1')))
print(df_obj.groupby('key1'))

<class 'pandas.core.groupby.DataFrameGroupBy'>
<pandas.core.groupby.DataFrameGroupBy object at 0x0000019C0CA75780>

In [ ]:
# data1列根据key1进行分组
print(type(df_obj['data1'].groupby(df_obj['key1'])))

In [7]:
# 分组运算
grouped1 = df_obj.groupby('key1')
print(grouped1.mean())

grouped2 = df_obj['data1'].groupby(df_obj['key1'])
print(grouped2.mean())

         data1     data2
key1
a    -0.198050 -0.668413
b     0.403357  1.084262
key1
a   -0.198050
b    0.403357
Name: data1, dtype: float64

In [8]:
# size
print(grouped1.size())
print(grouped2.size())

key1
a    5
b    3
dtype: int64
key1
a    5
b    3
dtype: int64

In [ ]:
# 按列名分组
df_obj.groupby('key1')

In [ ]:
# 按自定义key分组，列表
self_def_key = [1, 1, 2, 2, 2, 1, 1, 1]
df_obj.groupby(self_def_key).size()

In [ ]:
# 按自定义key分组，多层列表
df_obj.groupby([df_obj['key1'], df_obj['key2']]).size()

In [ ]:
# 按多个列多层分组
grouped2 = df_obj.groupby(['key1', 'key2'])
print(grouped2.size())

In [ ]:
# 多层分组按key的顺序进行
grouped3 = df_obj.groupby(['key2', 'key1'])
print(grouped3.mean())
print()
print(grouped3.mean().unstack())

* GroupBy对象分组迭代

In [9]:
# 单层分组
for group_name, group_data in grouped1:
    print(group_name)
    print(group_data)

a
      data1     data2 key1   key2
0 -0.169516 -0.852669    a    one
2  0.621123 -0.715536    a    two
4 -2.606859 -1.558948    a    two
6  0.033172  0.569284    a    one
7  1.131832 -0.784196    a  three
b
      data1     data2 key1   key2
1  1.124563  1.469623    b    one
3  1.343643  0.937834    b  three
5 -1.258136  0.845328    b    two

In [ ]:
# 多层分组
for group_name, group_data in grouped2:
    print(group_name)
    print(group_data)

In [10]:
# GroupBy对象转换list
list(grouped1)

[('a',       data1     data2 key1   key2
  0 -0.169516 -0.852669    a    one
  2  0.621123 -0.715536    a    two
  4 -2.606859 -1.558948    a    two
  6  0.033172  0.569284    a    one
  7  1.131832 -0.784196    a  three), ('b',       data1     data2 key1   key2
  1  1.124563  1.469623    b    one
  3  1.343643  0.937834    b  three
  5 -1.258136  0.845328    b    two)]

In [ ]:
# GroupBy对象转换dict
dict(list(grouped1))

In [ ]:
# 按列分组
print(df_obj.dtypes)

# 按数据类型分组
df_obj.groupby(df_obj.dtypes, axis=1).size()
df_obj.groupby(df_obj.dtypes, axis=1).sum()

* 其他分组方法

In [ ]:
df_obj2 = pd.DataFrame(np.random.randint(1, 10, (5,5)),
                       columns=['a', 'b', 'c', 'd', 'e'],
                       index=['A', 'B', 'C', 'D', 'E'])
df_obj2.ix[1, 1:4] = np.NaN
df_obj2

In [ ]:
# 通过字典分组
mapping_dict = {'a':'python', 'b':'python', 'c':'java', 'd':'C', 'e':'java'}
df_obj2.groupby(mapping_dict, axis=1).size()
df_obj2.groupby(mapping_dict, axis=1).count() # 非NaN的个数
df_obj2.groupby(mapping_dict, axis=1).sum()

In [11]:
# 通过函数分组
df_obj3 = pd.DataFrame(np.random.randint(1, 10, (5,5)),
                       columns=['a', 'b', 'c', 'd', 'e'],
                       index=['AA', 'BBB', 'CC', 'D', 'EE'])
df_obj3

     a  b  c  d  e
AA   5  3  7  3  9
BBB  5  3  5  8  2
CC   4  1  3  8  9
D    9  1  6  8  4
EE   7  3  9  5  1

In [12]:
def group_key(idx):
    """
        idx 为列索引或行索引
    """
    #return idx
    return len(idx)

df_obj3.groupby(group_key).size()

# 以上自定义函数等价于
#df_obj3.groupby(len).size()

1    1
2    3
3    1
dtype: int64

In [ ]:
# 通过索引级别分组
columns = pd.MultiIndex.from_arrays([['Python', 'Java', 'Python', 'Java', 'Python'],
                                     ['A', 'A', 'B', 'C', 'B']], names=['language', 'index'])
df_obj4 = pd.DataFrame(np.random.randint(1, 10, (5, 5)), columns=columns)
df_obj4

In [ ]:
# 根据language进行分组
df_obj4.groupby(level='language', axis=1).sum()
df_obj4.groupby(level='index', axis=1).sum()

* 聚合

In [13]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1,10, 8),
            'data2': np.random.randint(1,10, 8)}
df_obj5 = pd.DataFrame(dict_obj)
print(df_obj5)

   data1  data2 key1   key2
0      4      4    a    one
1      3      4    b    one
2      6      6    a    two
3      3      9    b  three
4      9      7    a    two
5      8      9    b    two
6      6      1    a    one
7      1      4    a  three

In [ ]:
# 内置的聚合函数
print(df_obj5.groupby('key1').sum())
print(df_obj5.groupby('key1').max())
print(df_obj5.groupby('key1').min())
print(df_obj5.groupby('key1').mean())
print(df_obj5.groupby('key1').size())
print(df_obj5.groupby('key1').count())
print(df_obj5.groupby('key1').describe())

In [14]:
# 自定义聚合函数
def peak_range(df):
    """
        返回数值范围
    """
    #print type(df) #参数为索引所对应的记录
    return df.max() - df.min()

print(df_obj5.groupby('key1').agg(peak_range))
#print(df_obj.groupby('key1').agg(lambda df : df.max() - df.min()))

      data1  data2
key1
a         8      6
b         5      5

In [15]:
# 应用多个聚合函数

# 同时应用多个聚合函数
print(df_obj.groupby('key1').agg(['mean', 'std', 'count', peak_range])) # 默认列名为函数名

         data1                                data2
          mean       std count peak_range      mean       std count peak_range
key1
a    -0.198050  1.440162     5   3.738691 -0.668413  0.770474     5   2.128232
b     0.403357  1.443058     3   2.601779  1.084262  0.336923     3   0.624295

In [ ]:
print(df_obj.groupby('key1').agg(['mean', 'std', 'count', ('range', peak_range)])) # 通过元组提供新的列名

In [ ]:
# 每列作用不同的聚合函数
dict_mapping = {'data1':'mean',
                'data2':'sum'}
print(df_obj.groupby('key1').agg(dict_mapping))

In [ ]:
dict_mapping = {'data1':['mean','max'],
                'data2':'sum'}
print(df_obj.groupby('key1').agg(dict_mapping))